__pycache__/
docker-compose.yml
.env
.envrc
sandbox/
app/secrets.py
**/secrets.py
fastapi/app/secrets.py
**/gtfs_bus.zip
**/gtfs_rail.zip
appdata/gtfs-static/gtfs_rail.zip
appdata/gtfs-static/gtfs_bus.zip
test.py
notebooks/**.json
notebooks/**.csv
notebooks/**.zip
notebooks/input
"version.txt" 
aws-lightsail-container.json
"app_secrets.py"
secrets.bat
fastapi/app/app_secrets.py
.gitignore
data-loading-service/app/app_secrets.py
