## Requirements for Python 3.11
pydantic
# starlette==0.13.6
# typing-extensions==3.7.4.3
requests
python-dotenv
# pytz
# python-multipart
psycopg2-binary
schedule
geopandas
GeoAlchemy2
pandas==1.1.5 
SQLAlchemy==1.4.45
# python-jose[cryptography]
# passlib[bcrypt]
# # GeoAlchemy2
# logzio-python-handler
# aiofiles
# jinja2==3.0.3
# fastapi-restful[tasks]
google
protobuf==3.19.6
polyline
versiontag
gitpython
crython